.esp32web_background {
   background-color: rgb(255, 255, 255) !important;
}
.dark-app .esp32web_background {
   background-color: rgb(24, 24, 27) !important;
}
.esp32web_connection {
   background-color: rgb(226, 226, 226) !important;
   color: rgb(70, 70, 70) !important;
}
.dark-app .esp32web_connection {
   background-color: rgb(41, 41, 41) !important;
   color: rgb(255, 255, 255) !important;
}
.esp32web_username {
   background: rgb(226, 226, 226) !important;
   color: rgb(93, 93, 93) !important;
}
.dark-app .esp32web_username {
   background: rgb(41, 41, 41) !important;
   color: rgb(138, 138, 138) !important;
}
.esp32web_username-hover:hover {
   background: rgb(195, 195, 195) !important;
   color: rgb(71, 71, 71) !important;
}
.dark-app .esp32web_username-hover:hover {
   background: rgb(56, 56, 56) !important;
   color: rgb(214, 214, 214) !important;
}
.esp32web_password {
   background: rgb(226, 226, 226) !important;
   color: rgb(93, 93, 93) !important;
}
.dark-app .esp32web_password {
   background: rgb(41, 41, 41) !important;
   color: rgb(138, 138, 138) !important;
}
.esp32web_password-input::placeholder {
   color: rgb(93, 93, 93) !important;
}
.dark-app .esp32web_password-input::placeholder {
   color: rgb(138, 138, 138) !important;
}
.esp32web_scanBtn {
   background-color: rgb(153, 153, 153) !important;
   color: rgb(245, 245, 245) !important;
}
.dark-app .esp32web_scanBtn {
   background-color: rgb(55, 55, 55) !important;
   color: rgb(207, 207, 207) !important;
}
.esp32web_show-password-btn {
   background-color: rgb(148, 148, 148) !important;
   color: rgb(255, 255, 255) !important;
}
.dark-app .esp32web_show-password-btn {
   background-color: rgb(65, 65, 65) !important;
   color: rgb(175, 175, 175) !important;
}
.esp32web_submitBtn:hover {
   transform: scale(1.05) !important;
}
.esp32web_submitBtn {
   background-color: rgb(255, 117, 86) !important;
   color: rgb(255, 255, 255) !important;
}
.dark-app .esp32web_submitBtn {
   background-color: rgb(255, 117, 86) !important;
   color: rgb(255, 255, 255) !important;
}
.esp32web_themeBtn {
   background-color: rgb(226, 226, 226) !important;
   color: rgb(73, 73, 73) !important;
}
.dark-app .esp32web_themeBtn {
   background-color: rgb(41, 41, 41) !important;
   color: rgb(161, 161, 161) !important;
}
.esp32web_footer-text {
   color: rgb(138, 138, 138) !important;
}
.dark-app .esp32web_footer-text {
   color: rgb(81, 81, 81) !important;
}
.esp32web_logo-div {
   flex-direction: row !important;
}
.esp32web_main-title {
   font-family: var(--font-brother) !important;
   font-size: 49px !important;
   text-align: left !important;
   color: rgb(75, 75, 75) !important;
}
.dark-app .esp32web_main-title {
   color: rgb(255, 255, 255) !important;
}
.esp32web_sub-title {
   font-family: var(--font-arial-bold) !important;
   font-size: 20px !important;
   text-align: left !important;
   color: rgb(75, 75, 75) !important;
}
.dark-app .esp32web_sub-title {
   color: rgb(182, 182, 182) !important;
}
.esp32web_logo-div {
   gap: 16px !important;
   align-items: center !important;
}
.esp32web_logo-image {
   width: 100px !important;
   border-radius: 0px !important;
}
.waking-up-text {
   color: rgb(75, 75, 75) !important;
}
.dark-app .waking-up-text {
   color: rgb(255, 255, 255) !important;
}
.loading-spinner {
   color: rgb(75, 75, 75) !important;
}
.dark-app .loading-spinner {
   color: rgb(255, 255, 255) !important;
}
.timer {
   font-size: 30px !important;
   color: rgb(75, 75, 75) !important;
   margin-top: 60px !important;
}
.dark-app .timer {
   color: rgb(255, 255, 255) !important;
}
.timer-text {
   font-size: 18px !important;
   color: rgb(75, 75, 75) !important;
   margin-top: 20px !important;
}
.dark-app .timer-text {
   color: rgb(255, 255, 255) !important;
}
.wifi-details-submitted-title {
   color: rgb(75, 75, 75) !important;
}
.dark-app .wifi-details-submitted-title {
   color: rgb(255, 255, 255) !important;
}
.wifi-details-submitted-text {
   color: rgb(75, 75, 75) !important;
}
.dark-app .wifi-details-submitted-text {
   color: rgb(255, 255, 255) !important;
}
.sleep-title {
   color: rgb(75, 75, 75) !important;
}
.dark-app .sleep-title {
   color: rgb(255, 255, 255) !important;
}
.sleep-text {
   color: rgb(75, 75, 75) !important;
}
.dark-app .sleep-text {
   color: rgb(255, 255, 255) !important;
}